{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
		<div class="error-page">
			<div class="bg">
				<div class="b1">
					<div>&nbsp;ОШИБКА</div>
					<span>404</span>
				</div>
				<div class="b2">
					<span>СТРАНИЦА</span>
					не найдена или не существует
				</div>
			</div>
			<!-- <div class="flex">
				<form>
					<input type="text" placeholder="ПОИСК">
					<button></button>
				</form>
				<a href="#">КАТАЛОГ ТОВАРОВ</a>
				<a href="#">ГЛАВНАЯ</a>
			</div> -->
		</div>
	</div>
	{% include 'footer.html' %}
{% block footer %}
    {% endblock %}