{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
		<div class="back-link">
			<!-- <a href="#">Главная / О компании </a> -->
			<a href="/">Главная/ </a><a href="/about">О компании </a>
		</div>
		<div class="about-page">
			<div class="flex">
				<div class="text1">
					<div class="name">
						<span>VSEMPOSTEL—</span>
						интернет-магазин товаров для дома
					</div>
					<ul>
						<li>Хотите выбрать оригинальный и полезный подарок?</li>
						<li>Обустраиваете новое жилье?</li>
						<li>Просто любите сладко и комфортно поспать?</li>
						<li>При этом долгие прогулки по торговым центрам не вызывают у Вас восторга, да и цены хотелось бы увидеть более разумные? </li>
					</ul>
				</div>
				<div class="text2">
					<div class="name">Вы обратились по адресу!</div>
					<p>Наш интернет-магазин постельного белья поможет сэкономить и время,и деньги. За небольшое время и вполне разумные деньги Вы найдете у нас все, что нужно!</p>
					<p>Мы искренне желаем Вам удачных покупок, и будем рады снова видеть Вас на нашем сайте!</p>
				</div>
			</div>
			<div class="flex list">
				<div class="item">
					<div class="name"><img src="{% static 'img/about1.png'%}"> Большой выбор</div>
					<p>Мы внимательно следим за актуальностью наших товаров и регулярно обновляем ассортимент</p>
				</div>
				<div class="item">
					<div class="name"><img src="{% static 'img/about2.png'%}"> Поддержка</div>
					<p>Поддержка. Каждый заказ прикреплён к одному менеджеру, который сопровождает вас во всех вопросах.</p>
				</div>
				<div class="item">
					<div class="name"><img src="{% static 'img/about3.png'%}"> Скорость</div>
					<p>Отлаженная система логистики и доставки позволяет нам гарантировать исполнение любого заказа.</p>
				</div>
			</div>
			<div class="history">
				<div class="name">ИСТОРИЯ МАГАЗИНА</div>
				<div class="flex">
					<div class="item">
						<img src="{% static 'img/about1.jpg'%}">
						<p><span>2010 год.</span> Первый магазин «Белиссимо» мы открыли в Тюмени на ул. Первомайская, 44/2. Тогда мы работали всего лишь на 25 м² и фактически «сидели на постельном белье», но уже понимали что основа развития нашего бизнеса — в интернете.</p>
						<div class="clear"></div>
					</div>
					<div class="item">
						<img src="{% static 'img/about2.jpg'%}">
						<p><span>2011 год.</span> На рынке домашнего трикотажа мы были первыми, кто запустил интернет-магазин постельного белья. Сайт располагался на домене POSTEL72.RU, используя платформу PrestaShop. Мы предлагали более 150 позиций, оплату через банк и быструю курьерскую доставку.</p>
						<div class="clear"></div>
					</div>
					<div class="item">
						<img src="{% static 'img/about3.jpg'%}">
						<p><span>2013 год.</span> Начали активно работать с регионами нашей необъятной страны, поэтому купили домен VSEMPOSTEL.RU. Подключили полноценный интернет-эквайринг PayOnline и наладили поставки через транспортные компании и сервисы Почты России.</p>
						<div class="clear"></div>
					</div>
					<div class="item">
						<img src="{% static 'img/about4.jpg'%}">
						<p><span>2017 год.</span> Переработали сайт на новой платформе 1С-Битрикс: адаптировали дизайн для мобильных устройств, кардинально переработали принцип фильтрации товаров. Подключили интернет-эквайринг от Яндекс.Кассы: теперь принимаем большинство электронных платёжных систем.</p>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
{% block footer %}
    {% endblock %}