{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
		<div class="back-link">
			<a href="/">Главная/ </a><a href="/faq">Вопросы и ответы/ </a>
		</div>
		<div class="faq-page">
			<div class="top-text">
				Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.
			</div>
			{% for i in faq %}
			<div class="item">
				<div class="name">{{i.question}}</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>{{i.answer}}</p>
				</div>
			</div>
			{% endfor %}
			<!-- <div class="item">
				<div class="name">Ваш вопрос</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>Далее, если вы закончили выбирать товар, нажмите кнопку ваша корзина.</p>
					<p>На странице ваша корзина будут перечислены все выбранные вами товары.</p>
					<p>В поле Количество вы пожете изменить количество товара для покупки. После изменения количества товара необходимо нажать кнопку Пересчитать для пересчета итоговой суммы заказа.</p>
					<p>В колонке Действия над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо отложить товар на будущее.</p>
					<p>Также можно ввести код скидки в соответствующее поле.</p>
				</div>
			</div>
			<div class="item">
				<div class="name">Ваш вопрос</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>Далее, если вы закончили выбирать товар, нажмите кнопку ваша корзина.</p>
					<p>На странице ваша корзина будут перечислены все выбранные вами товары.</p>
					<p>В поле Количество вы пожете изменить количество товара для покупки. После изменения количества товара необходимо нажать кнопку Пересчитать для пересчета итоговой суммы заказа.</p>
					<p>В колонке Действия над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо отложить товар на будущее.</p>
					<p>Также можно ввести код скидки в соответствующее поле.</p>
				</div>
			</div>
			<div class="item">
				<div class="name">Ваш вопрос</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>Далее, если вы закончили выбирать товар, нажмите кнопку ваша корзина.</p>
					<p>На странице ваша корзина будут перечислены все выбранные вами товары.</p>
					<p>В поле Количество вы пожете изменить количество товара для покупки. После изменения количества товара необходимо нажать кнопку Пересчитать для пересчета итоговой суммы заказа.</p>
					<p>В колонке Действия над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо отложить товар на будущее.</p>
					<p>Также можно ввести код скидки в соответствующее поле.</p>
				</div>
			</div>
			<div class="item">
				<div class="name">Ваш вопрос</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>Далее, если вы закончили выбирать товар, нажмите кнопку ваша корзина.</p>
					<p>На странице ваша корзина будут перечислены все выбранные вами товары.</p>
					<p>В поле Количество вы пожете изменить количество товара для покупки. После изменения количества товара необходимо нажать кнопку Пересчитать для пересчета итоговой суммы заказа.</p>
					<p>В колонке Действия над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо отложить товар на будущее.</p>
					<p>Также можно ввести код скидки в соответствующее поле.</p>
				</div>
			</div>
			<div class="item">
				<div class="name">Ваш вопрос</div>
				<div class="text">
					<p>Здесь мы собрали самые популярные вопросы, укомплектовав их лаконичными ответами. Если вопроса нет в списке, вы можете задать его внизу страницы.<br/>После выбора товара нажмите кнопку В корзину — товар добавится в вашу корзину.</p>
					<p>Далее, если вы закончили выбирать товар, нажмите кнопку ваша корзина.</p>
					<p>На странице ваша корзина будут перечислены все выбранные вами товары.</p>
					<p>В поле Количество вы пожете изменить количество товара для покупки. После изменения количества товара необходимо нажать кнопку Пересчитать для пересчета итоговой суммы заказа.</p>
					<p>В колонке Действия над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо отложить товар на будущее.</p>
					<p>Также можно ввести код скидки в соответствующее поле.</p>
				</div>
			</div> -->
			<form method="POST">
				 {% csrf_token %}
				<p>ЗАДАТЬ ВОПРОС</p>
				<div class="flex">
					<div class="col">
						<input type="text" name="name" required maxlength="150" id="id_name" placeholder="ВАШЕ ИМЯ">
						<input type="text" name="e_mail" required maxlength="254" id="id_e_mail" placeholder="E-MAIL">
					</div>
					<div class="col">
						<textarea name="question" id="id_question" placeholder="ВАШ ВОПРОС"></textarea>
					</div>
				</div>
				<button>ОТПРАВИТЬ</button>
			</form>

		</div>
	</div>
{% include 'footer.html' %}
{% block footer %}
    {% endblock %}