{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
		<div class="back-link">
			<a href="/">Главная/ </a><a href="/garantee">Гарантии/ </a>
		</div>
		<h1>ГАРАНТИЯ И ВОЗВРАТ</h1>
		<div class="garantee-page">
			<div class="top-text">
				Одной из важных составляющих работы нашего интернет-магазина является то, что продаваемые товары сертифицированы и обеспечены фирменной гарантией производителей
			</div>
			<div class="flex">
				<div class="item">
					<div class="name"><img src="{% static 'img/garantee.png'%}"> ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ</div>
					<div class="text">
						<p>Для осуществления гарантийного обслуживания необходимы:</p>
						<ul>
							<li>Документ, подтверждающий покупку (товарная накладная или чек)</li>
							<li>Полная комплектация товара</li>
						</ul>
						<p>Обращаем так же внимание на то, что при получении и оплате заказа покупатель в присутствии курьера обязан проверить комплектацию и внешний вид изделия на предмет отсутствия физических дефектов (царапин, трещин, сколов и тп.) и полноту комплектации. После отъезда курьера претензии по этим вопросам не принимаются.</p>
					</div>
				</div>	
				<div class="item">
					<div class="name">ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ</div>
					<div class="text">
						<p>Возврат денежных  средств осуществляется следующими способами</p>
						<ul>
							<li>На личный счет</li>
							<li>Наличным расчетом</li>
							<li>Банковским переводом</li>
						</ul>
						<p>Способ возврата денежных средств соотвествует способу оплаты. <br/>Если покупатель не может сделать доверенное лицо. В этом случае, осуществить возврат можно будет только при предъявлении доверенности и паспорта.</p>
					</div>
				</div>
				<div class="item2">
					<div class="name">Гарантийное обслуживание  не производится</div>
					<ul>
						<li>Если изделие имеет следы механического повреждения или вскрытия</li>
						<li>Были нарушены условия эксплуатации, транспортировки или хранения</li>
						<li>Проводился самостоятельный ремонт</li>
					</ul>
					<p>Подробное описание условий предоставления гарантии вы можете найти в документации к приобретенному товару и/или на сайте соответствующего производителя.</p>
				</div>
				<div class="item2">
					<div class="name">Основные причины возврата товара</div>
					<p>В соответствии с частью 1 ст. 25 «Закона о защите прав потребителей» постельные принадлежности относятся к категории товаров (пункт 4 Перечня — Текстильные товары), не подлежащие возрату.</p>
					<p>Однако, если вам передан товар ненадлежащего качества, то вы вправе воспользоваться положениями ст. «Права потребителя при обнаружении в товаре недостатков» Закона о защите прав потребителей. </p>
				</div>
			</div>
		</div>
	</div>
{% include 'footer.html' %}
{% block footer %}
    {% endblock %}