{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
		<div class="back-link">
			<a href="#">Главная / Мой кабинет/Текущие  заказы</a>
		</div>
		<div class="cabinet-orders">
			<h1>Текущие заказы</h1>
			<div class="name">Заказ № 25684 от 22.05.2019, 3 товара на сумму  13 500 ₽ </div>
			<table>
				<tr>
					<td>Оплата:</td>
					<td>Счёт № 25684/1 от 22.05.2019, счет на оплату </td>
				</tr>
				<tr>
					<td>Сумма к опате по счёту:</td>
					<td>14 000 ₽ </td>
				</tr>
				<tr>
					<td>Способ оплаты:</td>
					<td>
						<label>Сменить способ оплаты</label>
						<select>
							<option>Яндекс.Деньги</option>
							<option>Яндекс.Деньги</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОПЛАЧЕНО</span> <button>ОПЛАТИТЬ</button></td>
				</tr>
			</table>
			<table>
				<tr>
					<td>Доставка:</td>
					<td>Отгрузка № 25684/2, стоимость доставки 155  ₽</td>
				</tr>
				<tr>
					<td>Статус отгрузки:</td>
					<td>Ожидает обработки</td>
				</tr>
				<tr>
					<td>Служба доставки:</td>
					<td>СДЭК</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОТГРУЖЕНО</span></td>
				</tr>
			</table>
			<div class="flex buttons">
				<button>ПОДРОБНЕЕ О ЗАКАЗЕ</button>
				<button>ОТМЕНИТЬ ЗАКАЗ</button>
			</div>
			<div class="name">Заказ № 25684 от 22.05.2019, 3 товара на сумму  13 500 ₽ </div>
			<table>
				<tr>
					<td>Оплата:</td>
					<td>Счёт № 25684/1 от 22.05.2019, счет на оплату </td>
				</tr>
				<tr>
					<td>Сумма к опате по счёту:</td>
					<td>14 000 ₽ </td>
				</tr>
				<tr>
					<td>Способ оплаты:</td>
					<td>
						<label>Сменить способ оплаты</label>
						<select>
							<option>Яндекс.Деньги</option>
							<option>Яндекс.Деньги</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОПЛАЧЕНО</span> <button>ОПЛАТИТЬ</button></td>
				</tr>
			</table>
			<table>
				<tr>
					<td>Доставка:</td>
					<td>Отгрузка № 25684/2, стоимость доставки 155  ₽</td>
				</tr>
				<tr>
					<td>Статус отгрузки:</td>
					<td>Ожидает обработки</td>
				</tr>
				<tr>
					<td>Служба доставки:</td>
					<td>СДЭК</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОТГРУЖЕНО</span></td>
				</tr>
			</table>
			<div class="flex buttons">
				<button>ПОДРОБНЕЕ О ЗАКАЗЕ</button>
				<button>ОТМЕНИТЬ ЗАКАЗ</button>
			</div>
			<div class="name">Заказ № 25684 от 22.05.2019, 3 товара на сумму  13 500 ₽ </div>
			<table>
				<tr>
					<td>Оплата:</td>
					<td>Счёт № 25684/1 от 22.05.2019, счет на оплату </td>
				</tr>
				<tr>
					<td>Сумма к опате по счёту:</td>
					<td>14 000 ₽ </td>
				</tr>
				<tr>
					<td>Способ оплаты:</td>
					<td>
						<label>Сменить способ оплаты</label>
						<select>
							<option>Яндекс.Деньги</option>
							<option>Яндекс.Деньги</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОПЛАЧЕНО</span> <button>ОПЛАТИТЬ</button></td>
				</tr>
			</table>
			<table>
				<tr>
					<td>Доставка:</td>
					<td>Отгрузка № 25684/2, стоимость доставки 155  ₽</td>
				</tr>
				<tr>
					<td>Статус отгрузки:</td>
					<td>Ожидает обработки</td>
				</tr>
				<tr>
					<td>Служба доставки:</td>
					<td>СДЭК</td>
				</tr>
				<tr>
					<td>Статус</td>
					<td><span class="status">НЕ ОТГРУЖЕНО</span></td>
				</tr>
			</table>
			<div class="flex buttons">
				<button>ПОДРОБНЕЕ О ЗАКАЗЕ</button>
				<button>ОТМЕНИТЬ ЗАКАЗ</button>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
{% block footer %}
    {% endblock %}