<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
	<header class="fixed-header">
		<div class="top">
			<div class="wrap">
				<div class="flex">
					<div class="logo">
						<a href="/" class="name">VSEMPOSTEL</a>
						<a href="tel: 8 (3452) 500 - 903 " class="tel">8 (3452) 500 - 903</a>
					</div>
					<ul>
						<li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
						<li><a href="#">АКЦИИ</a></li>
						<li><a href="#">О НАС</a></li>
						<li><a href="#">КОНТАКТЫ</a></li>
					</ul>
					<div class="links">
						<a href="#"><img src="img/login.png"> ВОЙТИ</a> / <a href="#"><img src="img/reg.png"> РЕГИСТРАЦИЯ</a>
					</div>
					<div class="right-block">
						<a class="link">КАТАЛОГ</a>
						<div class="cart">
							<div>
								<img src="img/cart.png"> КОРЗИНА<span>2</span>
							</div>
							<a href="#">2560 руб</a>
						</div>
					</div>
					<div class="menu-button"></div>
				</div>
			</div>
		</div>
		<nav class="top-menu">
			<div class="wrap">
				<p>КАТАЛОГ</p>
				<ul class="flex">
					<li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
					<li><a href="#">ПОДУШКИ</a></li>
					<li><a href="#">ПОЛОТЕНЦА</a></li>
					<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
					<li><a href="#">МАТРАСЫ</a></li>
					<li><a href="#">ХАЛАТЫ</a></li>
					<li><a href="#">ОДЕЯЛА</a></li>
					<li><a href="#">СКАТЕРТИ</a></li>
					<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<nav class="mobile-menu">
		<a class="close"><i class="fa fa-close"></i></a>
		<div class="flex">
			<a href="#"><img src="img/login.png"> ВОЙТИ</a>
			<a href="#"><img src="img/reg.png"> РЕГИСТРАЦИЯ</a>
		</div>
		<ul class="menu1">
			<li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
			<li><a href="#">АКЦИИ</a></li>
			<li><a href="#">О НАС</a></li>
			<li><a href="#">КОНТАКТЫ</a></li>
		</ul>
		<nav class="menu2">
			<p>КАТАЛОГ</p>
			<ul>
				<li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
				<li><a href="#">ПОДУШКИ</a></li>
				<li><a href="#">ПОЛОТЕНЦА</a></li>
				<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
				<li><a href="#">МАТРАСЫ</a></li>
				<li><a href="#">ХАЛАТЫ</a></li>
				<li><a href="#">ОДЕЯЛА</a></li>
				<li><a href="#">СКАТЕРТИ</a></li>
				<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li>
			</ul>
		</nav>
	</nav>
	<div class="top-line">
		<div class="wrap">
			<div class="flex">
				<div class="menu-button"></div>
				<a href="tel:+73452500903" class="tel">8 (3452) 500 - 903</a>
				<div class="city">
					<a class="link"><img src="img/pointer.png"> Новосибирск</a>
					<div class="sub">
						<a class="close"></a>
						<p>Ваш город?</p>
						<a href="#">Да</a>
						<a href="#">Нет</a>
					</div>
				</div>
				<ul>
					<li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
					<li><a href="#">АКЦИИ</a></li>
					<li><a href="#">О НАС</a></li>
					<li><a href="#">КОНТАКТЫ</a></li>
					<li><a href="#"><img src="img/login.png"> ВОЙТИ / <img src="img/reg.png"> РЕГИСТРАЦИЯ</a></li>
				</ul>
				<div class="cart">
					<div>
						<img src="img/cart.png"> КОРЗИНА<span>0</span>
					</div>
					<a href="#">00 руб</a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<header class="header">
			<div class="flex">
				<div class="logo">
					<a href="/">
						<span>VSEMPOSTEL</span>
						Интернет-магазин постельного белья
					</a>
					<div>г. Тюмень,ул. 50 лет Октября д. 14 <br/>ТЦ «Магеллан», 3-й этаж</div>
				</div>
				<form>
					<input type="text" placeholder="ПОИСК">
					<button></button>
				</form>
				<div class="hours">
					<a href="tel:+73452500903 ">8 (3452) 500 - 903</a>
					Ежедневно с 10.00 до 22.00
				</div>
				<button>ЗАКАЗАТЬ ЗВОНОК</button>
			</div>
		</header>
		<nav class="top-menu">
			<p>КАТАЛОГ</p>
			<ul class="flex">
				<li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
				<li><a href="#">ПОДУШКИ</a></li>
				<li><a href="#">ПОЛОТЕНЦА</a></li>
				<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
				<li><a href="#">МАТРАСЫ</a></li>
				<li><a href="#">ХАЛАТЫ</a></li>
				<li><a href="#">ОДЕЯЛА</a></li>
				<li><a href="#">СКАТЕРТИ</a></li>
				<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li>
			</ul>
		</nav>
		<div class="back-link">
			<a href="#">Главная / Каталог/ Постельное белье/ Название</a>
		</div>
		<div class="item-page">
			<div class="flex">
				<div class="photos">
					<div class="slider-for">
						<div class="item"><img src="img/item.jpg"></div>
						<div class="item"><img src="img/item.jpg"></div>
						<div class="item"><img src="img/item.jpg"></div>
					</div>
					<div class="slider-nav">
						<div class="item"><img src="img/item.jpg"></div>
						<div class="item"><img src="img/item.jpg"></div>
						<div class="item"><img src="img/item.jpg"></div>
					</div>
				</div>
				<div class="text">
					<div class="name">Постельное белье "Бурбон"</div>
					Постельное белье из перкаля "Королевское искушение" Ткань: перкаль, 100% хлопок, 110 г/м2 Дизайн: ТексДизайн Производитель ткани: ТексДизайн (партнер-производитель Тейковский ХБК) Пошив: ТексДизайн Перкаль — это тонкая, повышенной плотности в основном белая хлопчатобумажная ткань полотняного переплетения. Секрет перкаля в природных свойствах длинноволокнистого хлопка. Нити не скручены между собой, наоборот — лежат равномерно, а для прочности и гладкости они смазаны специальным клеящим составом. 
				</div>
				<div class="right-block">
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<label>Цена</label>
								<div class="info">
									<div class="new">4 500 ₽</div>
									<div class="old">5 000 ₽</div>
								</div>
							</div>
						</div>
						<div class="select">
							<label>Размер</label>
							<select>
								<option>Евро</option>
								<option>Евро</option>
							</select>
						</div>
						<div class="col">
							<label>Количество</label>
							<div class="number">
								<span class="minus"><img src="img/minus.png"></span>
								<input type="text" value="1"/>
								<span class="plus"><img src="img/plus.png"></span>
							</div>
						</div>
						<button>КУПИТЬ</button>
					</div>
				</div>
			</div>
			<div class="tabs">
				<ul class="tabNavigation">
					<li><a href="#t1">ОПИСАНИЕ</a></li>
					<li><a href="#t2">ХАРАКТЕРИСТИКИ</a></li>
					<li><a href="#t3">РЕКОМЕНДАЦИИ ПО УХОДУ</a></li>
				</ul>
				<div id="t1">
					<p>Постельное белье из перкаля "Королевское искушение" Ткань: перкаль, 100% хлопок, 110 г/м2 Дизайн: ТексДизайн Производитель ткани: ТексДизайн (партнер-производитель Тейковский ХБК) Пошив: ТексДизайн Перкаль — это тонкая, повышенной плотности в основном белая хлопчатобумажная ткань полотняного переплетения. Секрет перкаля в природных свойствах длинноволокнистого хлопка. Нити не скручены между собой, наоборот — лежат равномерно, а для прочности и гладкости они смазаны специальным клеящим составом. </p>
				</div>
				<div id="t2">
					<table>
						<tr>
							<td>РАСЦВЕТКА </td>
							<td>Взрослая</td>
						</tr>
						<tr>
							<td>ПРОСТЫНЯ</td>
							<td>150х220</td>
						</tr>
						<tr>
							<td>НАВОЛОЧКИ</td>
							<td>70х70 (2шт)</td>
						</tr>
						<tr>
							<td>РАСЦВЕТКА </td>
							<td>Взрослая</td>
						</tr>
						<tr>
							<td>ПРОСТЫНЯ</td>
							<td>150х220</td>
						</tr>
						<tr>
							<td>НАВОЛОЧКИ</td>
							<td>70х70 (2шт)</td>
						</tr>
					</table>
				</div>
				<div id="t3">
					333
				</div>
			</div>
		</div>
		<div class="sliders">
			<h2>ВЫ СМОТРЕЛИ</h2>
			<div class="popular-slider">
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
			</div>
			<h2>ПОПУЛЯРНЫЕ ТОВАРЫ ИЗ ЭТОЙ КАТЕГОРИИ</h2>
			<div class="popular-slider">
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
				<div class="item">
					<a href="#"><img src="img/popular.jpg"></a>
					<div class="name">Постельное белье "Бурбон"</div>
					<div class="content">
						<div class="flex">
							<div class="n">Сатин-жаккард</div>
							<div class="price">
								<div class="new">4 500 ₽</div>
								<div class="old">5 000 ₽</div>
							</div>
						</div>
						<label>Размер</label>
						<select>
							<option>Евро</option>
							<option>Евро</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feedback-block">
		<div class="content">
			<div class="bg">
				<div class="name">Затрудняетесь с выбором? Нужна помощь специалиста?</div>
				<p>Просто напишите свой номер телефона и наш сотрудник Вам оперативно поможет</p>
				<form>
					<input type="text" placeholder="Ваш номер телефона">
					<button class="b1">ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ</button>
				</form>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="wrap">
			<div class="flex">
				<nav>
					<p>Информация для покупателей</p>
					<ul>
						<li><a href="#">ИНФОРМАЦИЯ ДЛЯ ПОКУПАТЕЛЯ</a></li>
						<li><a href="#">ДОСТАВКА И ОПЛАТА</a></li>
						<li><a href="#">АКЦИИ</a></li>
						<li><a href="#">ВОЗВРАТ И ОБМЕН ТОВАРА</a></li>
						<li><a href="#">ВОПРОСЫ И ОТВЕТЫ</a></li>
						<li><a href="#">КОНТАКТЫ</a></li>
						<li><a href="#">О НАС</a></li>
						<li><a href="#">СТАТЬИ И НОВОСТИ</a></li>
					</ul>
				</nav>
				<nav>
					<p>Каталог товара</p>
					<ul>
						<li><a href="#">КАТАЛОГ ТОВАРА 1</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 2</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 3</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 4</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 5</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 6</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 7</a></li>
						<li><a href="#">КАТАЛОГ ТОВАРА 8</a></li>
					</ul>
				</nav>
				<div class="col">
					<p>Подпишитесь на нашу рассылку</p>
					<form>
						<input type="text" placeholder="ВАШ  E-MAIL">
						<button>ПОДПИСАТЬСЯ</button>
					</form>
					<div class="social">
						<p>Мы в социальных сетях:</p>
						<a href="#"><img src="img/social1.png"></a>
						<a href="#"><img src="img/social2.png"></a>
						<a href="#"><img src="img/social3.png"></a>
					</div>
				</div>
				<div class="col">
					<p>Контакты</p>
					<a href="tel: 8 (3452) 500 - 903" class="tel">8 (3452) 500 - 903</a>
					<div class="button">
						<p>г. Тюмень,ул. 50 лет Октября д. 14<br/>ТЦ «Магеллан», 3-й этаж</p>
						<button>ЗАКАЗАТЬ ЗВОНОК</button>
					</div>
					<div class="hours">
						<p>Режим работы:</p>
						<div class="b1">ЕЖЕДНЕВНО</div>
						<div class="b2">С 10:00 - 22:00</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>