{% load static %}
{% include 'base.html' %}
{% block content %}
    {% endblock %}
         <form action="" method="post">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        <div class="reg-page">
            <p>Введите новый пароль для вашей учетной записи</p>
            <!-- <p class="small">Контрольная строка для смены пароля, а так же ваши регистрационные данные, будут вам высланы по e-mail.</p> -->
            <label>Новый  пароль*</label>
            <div class="field">
                <input type="password" name="new_password1" id="id_new_password1" required>
                <div>Длина поля <Br/>не менее 6 символов</div>
            </div>
            <label>Подтверждения пароля*</label>
            <div class="field">
                <input type="password" name="new_password2" id="id_new_password2" required>
            </div>
            <!-- <label class="small">Введите код*</label>
            <div class="captcha">
                <input type="text">
                <a><img src="{% static 'img/reload.png'%}"></a>
                <img src="{% static 'img/captcha.png'%}">
            </div> -->
            <button>СМЕНИТЬ ПАРОЛЬ</button>
        </div>
         </form>
    </div>
    {% include 'footer.html' %}
{% block footer %}
    {% endblock %}
