<p>Здравствуйте!</p>
<p><b><i>Вы получили это письмо, так как данный электронный адрес был указан при оформлении заказа в интернет-магазине "Всемпостель" </i></b></p>
<p>Ваш логин: {{ login }}</p>
<p>Ваш пароль: {{ pass }}</p>
<p><i><b>Введя эти данные при авторизации на сайте, Вы можете следить за статусом выполнения заказа или ознакомиться с подробной информацией о нем.</b></i></p>
<p><b><i>Спасибо, что выбрали нас!</i></b></p>
<p>__________________________________</p>
<p>С уважением, интернет-магазин "Всемпостель"</p>
