{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script src="{% static 'js/cart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slick.min.js'%}"></script>
</head>
<body>
	<header class="fixed-header">
		<div class="top">
			<div class="wrap">
				<div class="flex">
					<div class="logo">
						<a href="/" class="name">VSEMPOSTEL</a>
						<a href="tel: 8 (3452) 500 - 903 " class="tel">8 (3452) 500 - 903</a>
					</div>
					<ul>
						<li><a href="/delivery">ДОСТАВКА И ОПЛАТА</a></li>
						<li><a href="/sale">АКЦИИ</a></li>
						<li><a href="/about">О НАС</a></li>
						<li><a href="/contacts">КОНТАКТЫ</a></li>
					</ul>
					<div class="links">
						<a href="/login"><img src="{% static 'img/login.png' %}"> ВОЙТИ</a> / <a href="/reg"><img src="{% static 'img/reg.png' %}"> РЕГИСТРАЦИЯ</a>
					</div>
					<div class="right-block">
						<a class="link" href="/catalog">КАТАЛОГ</a>
						<div class="cart">
							<div>
								<img src="{% static 'img/cart.png' %}"> КОРЗИНА<span>{{ basket.basket_count }}</span>
							</div>
							<a href="/basket">{{ basket.get_total_price }} руб</a>
						</div>
					</div>
					<div class="menu-button"></div>
				</div>
			</div>
		</div>
		<nav class="top-menu">
			<div class="wrap">
				<p>КАТАЛОГ</p>
				<ul class="flex">
			<!-- 		<li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
					<li><a href="#">ПОДУШКИ</a></li>
					<li><a href="#">ПОЛОТЕНЦА</a></li>
					<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
					<li><a href="#">МАТРАСЫ</a></li>
					<li><a href="#">ХАЛАТЫ</a></li>
					<li><a href="#">ОДЕЯЛА</a></li>
					<li><a href="#">СКАТЕРТИ</a></li>
					<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li> -->
					{% for i in category %}
				<li><a href="/{{i.get_absolute_url}}">{{i.name}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</nav>
	</header>
	<nav class="mobile-menu">
		<a class="close"><i class="fa fa-close"></i></a>
		<div class="flex">
			<a href="/login"><img src="{% static 'img/login.png' %}"> ВОЙТИ</a>
			<a href="/reg"><img src="{% static 'img/reg.png' %}"> РЕГИСТРАЦИЯ</a>
		</div>
		<ul class="menu1">
			<li><a href="/delivery">ДОСТАВКА И ОПЛАТА</a></li>
			<li><a href="/sale">АКЦИИ</a></li>
			<li><a href="/about">О НАС</a></li>
			<li><a href="/contacts">КОНТАКТЫ</a></li>
		</ul>
		<nav class="menu2">
			<p>КАТАЛОГ</p>
			<ul>
				<!-- <li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
				<li><a href="#">ПОДУШКИ</a></li>
				<li><a href="#">ПОЛОТЕНЦА</a></li>
				<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
				<li><a href="#">МАТРАСЫ</a></li>
				<li><a href="#">ХАЛАТЫ</a></li>
				<li><a href="#">ОДЕЯЛА</a></li>
				<li><a href="#">СКАТЕРТИ</a></li>
				<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li> -->
				{% for i in category %}
				<li><a href="/{{i.get_absolute_url}}">{{i.name}}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</nav>
	<div class="top-line">
		<div class="wrap">
			<div class="flex">
				<div class="menu-button"></div>
				<a href="tel:+73452500903" class="tel">8 (3452) 500 - 903</a>
				<!-- <div class="city">
					<a class="link"><img src="{% static 'img/pointer.png' %}"> Новосибирск</a>
					<div class="sub">
						<a class="close"></a>
						<p>Ваш город?</p>
						<a href="#">Да</a>
						<a href="#">Нет</a>
					</div>
				</div> -->
				<ul>
					<li><a href="/catalog">КАТАЛОГ</a></li>
					<li><a href="/delivery">ДОСТАВКА И ОПЛАТА</a></li>
					<li><a href="/sale">АКЦИИ</a></li>
					<li><a href="/about">О НАС</a></li>
					<li><a href="/contacts">КОНТАКТЫ</a></li>
					{% if user.is_authenticated %}
					<li><a href="/lk"><img src="{% static 'img/login.png' %}"> КАБИНЕТ / </a><a href="/logout"><img src="{% static 'img/reg.png' %}"> ВЫЙТИ </a></li>
					{% else %}
					<li><a href="/login"><img src="{% static 'img/login.png' %}"> ВОЙТИ / <img src="{% static 'img/reg.png' %}"> РЕГИСТРАЦИЯ</a></li>
					{% endif %}
					
					
				</ul>
				<div class="cart">
					<div>
						<img src="{% static 'img/cart.png' %}"> КОРЗИНА<span>{{ basket.basket_count }}</span>
					</div>
					<a href="/basket">{{ basket.get_total_price }} руб</a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap">
		<header class="header">
			<div class="flex">
				<div class="logo">
					<a href="/">
						<span>VSEMPOSTEL</span>
						Интернет-магазин постельного белья
					</a>
					<div>г. Тюмень,ул. 50 лет Октября д. 14 <br/>ТЦ «Магеллан», 3-й этаж</div>
				</div>
				<form method="POST"  action="/find/">
					{% csrf_token %}
					<input type="text" name="key" placeholder="ПОИСК">
					<button></button>
				</form>
				<div class="hours">
					<a href="tel:+73452500903 ">8 (3452) 500 - 903</a>
					Ежедневно с 10.00 до 22.00
				</div>
				<button class="b2">ЗАКАЗАТЬ ЗВОНОК</button>
			</div>
		</header>
		<nav class="top-menu">
			<p>КАТАЛОГ</p>
			<ul class="flex">
				<!-- <li><a href="#">ПОСТЕЛЬНОЕ БЕЛЬЕ</a></li>
				<li><a href="#">ПОДУШКИ</a></li>
				<li><a href="#">ПОЛОТЕНЦА</a></li>
				<li><a href="#">ПЛЕДЫ И ПОКРЫВАЛА</a></li>
				<li><a href="#">МАТРАСЫ</a></li>
				<li><a href="#">ХАЛАТЫ</a></li>
				<li><a href="#">ОДЕЯЛА</a></li>
				<li><a href="#">СКАТЕРТИ</a></li>
				<li><a href="#">ПОСТЕЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></li> -->
				{% for i in category %}
				<li><a href="/{{i.get_absolute_url}}">{{i.name}}</a></li>
				{% endfor %}
			</ul>
		</nav>
	<!-- </div> -->
